body {
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  height: 100px;
}
header img {
  display: flex;
  flex: 1;
  height: 80px;
}

header > div:nth-child(2) {
  display: flex;
  flex: 3;
}
header > div:nth-child(3) {
  display: flex;
  flex: 2;
  justify-content: center;
  gap: 10px;
}
header button {
  width: 110px;
  border: #2db0ba 1px solid;
  background-color: white;
  border-radius: 10px;
  color: #2db0ba;
  height: 35px;
}
.button-article {
  background-color: #2db0ba;
  color: white;
}
.button-deconnexion {
  background-color: rgb(174, 12, 12);
  color: white;
  border: none;
  margin-right: 50px;
}
.button-files {
  width: 300px;
  border: none;
  height: 50px;
  background-color: #2db0ba;
  border-radius: 10px;
}
.div-button-files {
  display: flex;
  align-items: center;
  justify-content: center;
}
