.hero {
  position: relative;
}
.position-absolut {
  position: absolute;
  left: 30px;
  top: 100px;
  width: 400px;
  height: 250px;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
  background-color: white;
  border-radius: 0.3rem;
}
.position-absolut > button {
  background-color: #2baeb7;
  width: 12rem;
  height: 3rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-size: 1rem;
}
.product {
  width: 250px;
}
.product-detail {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.avatar-username {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  height: 50px;
  margin-bottom: 0.5rem;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.hero > img {
  width: 100vw;
  height: 450px;
  object-fit: cover;
}
.img-product > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
a {
  all: unset;
  cursor: pointer;
}
.text-link {
  all: unset;
  cursor: pointer;
  color: #2db0ba;
}
.size-band-price span {
  font-weight: 600;
}
.size-band-price span:nth-child(2) {
  padding-left: 1rem;
}
